<html>
<head>
  <meta http-equiv="refresh" content="2">
  <title>Caption Controls</title>
  <%= erb :_styles %>
  <style>
    /*.button {
      display: inline-block;
      font-size: 24px;
      margin-left: 30px;
    }*/
    .enabled, .GREEN {
      color: #4d4;
    }
    .disabled, .RED {
      color: #d44;
    }
    td {
      vertical-align: middle;
    }
  </style>
</head>
<body>
<%
  if enabled
    current_text = 'enabled'
    button_value = 'false'
    button_text = 'DISABLE'
  else
    current_text = 'disabled'
    button_value = 'true'
    button_text = 'ENABLE'
  end
%>
  <table>
    <tr>
      <td><strong class="<%= current_text %>">Captions are <%= current_text %></strong></td>
      <td>
        <form method="POST" action="/control">
          <button type="submit" class="button" name="enabled" value="<%= button_value %>">
            <%= button_text %>
          </button>
        </form>
      </td>
    </tr>
    <% repeater_config.each do |key, config| %>
      <% current_label = config.current ? config.current[:label] : '' %>
      <tr>
        <td>
          <strong class="<%= current_label %>">Camera <%= key %> is <%= current_label %></strong>
        </td>
        <td>
          <% if config.current %>
            <%= erb(:_repeater_form, locals: {key: key, value: config.alternate[:label]}) %>
          <% else %>
            <%= erb(:_repeater_form, locals: {key: key, value: config.states[0][:label]}) %>
            <%= erb(:_repeater_form, locals: {key: key, value: config.states[1][:label]}) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <a href="/setup">Setup</a>
</body>
</html>
